In [14]:
from selenium import webdriver
import pandas as pd
import datetime

In [2]:
class Coronavirus():
    def __init__(self):
        self.driver = webdriver.Chrome(executable_path=r"./driver/chromedriver.exe")

In [2]:
bot = Coronavirus()
bot.driver.get('https://www.worldometers.info/coronavirus/')

NameError: name 'Coronavirus' is not defined

In [4]:
#row = bot.driver.find_element_by_xpath("//*[contains(@class, 'main_table_countries_div')]")

In [1]:
row = bot.driver.find_element_by_xpath("//*[contains(@id, 'main_table_countries_today')]")

NameError: name 'bot' is not defined

In [6]:
## Access elements under tbody

#row.find_element_by_xpath("//tbody/tr[1]").text

In [7]:
count = 0
reportList = []
while(True):
    count = count + 1
    try:
        '''
        if(count%2==0):
            var = "'even'"
        else:
            var = "'odd'"
        #print(count)
        #elm=row.find_element_by_xpath("//tbody/tr["+str(count)+"][@class="+var+"]")
        
        for x in range(1,10):
            elm_r=elm.find_element_by_xpath(".//td["+str(x)+"]").text
            print(elm_r)
        '''
        elm=row.find_element_by_xpath("//tbody/tr["+str(count)+"]")
        try:
            country = elm.find_element_by_xpath(".//td[1]").text
            nominator = int(elm.find_element_by_xpath(".//td[4]").text.replace(",",""))
            TotalCase = int(elm.find_element_by_xpath(".//td[2]").text.replace(",",""))
            denominator = TotalCase - int(elm.find_element_by_xpath(".//td[7]").text.replace(",",""))
            rate=(nominator/denominator)*100.0
            rate = round(rate,2)
            #print("Country : {}, Closed Cases: {}, Total Death: {}, Death Rate: {}".format(country,denominator,nominator,rate))
            reportList.append([country,TotalCase,denominator,nominator,rate])
        except Exception as e:
            pass
            #print(e)
    except Exception as e:
        print("Error: ", e)
        break

Error:  Message: no such element: Unable to locate element: {"method":"xpath","selector":"//tbody/tr[198]"}
  (Session info: chrome=80.0.3987.149)

In [8]:
#reportList

In [9]:
df = pd.DataFrame(reportList,columns=["Country","Total Case","Closed Case","Total Death","Death Rate"])

In [10]:
df.head()

   Country  Total Case  Closed Case  Total Death  Death Rate
0    China       81218        76931         3281        4.26
1    Italy       74386        16865         7503       44.49
2      USA       62505         1267          880       69.46
3    Spain       47610         8801         3434       39.02
4  Germany       37098         3753          206        5.49

In [11]:
df = df.sort_values(by="Total Death",ascending=False)

In [23]:
dtime = datetime.datetime.now().timestamp()

In [29]:
df.to_csv(str(dtime).split('.')[0]+'.csv',index=False)

In [13]:
df.head()

  Country  Total Case  Closed Case  Total Death  Death Rate
1   Italy       74386        16865         7503       44.49
3   Spain       47610         8801         3434       39.02
0   China       81218        76931         3281        4.26
5    Iran       27017        11702         2077       17.75
6  France       25233         5231         1331       25.44